<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.first_name %>!</h1>
    <p>Thanks for joining and have a great day! Now visit the website to discover new
    information and do awesome things!</p>
  </body>
</html>
