<!DOCTYPE html>
<html>
<head>
   <title>Sheffield Hub</title>
</head>
<body>
<h1> Welcome to Your Local Offer Guide</h1>

<p>You will find on this website some information in the Local Offer to prepare you for adult life.</p>

<!--https://www.w3schools.com/html/html_youtube.asp-->
<iframe width="420" height="345" src="https://www.youtube.com/embed/gioRTHZLtcw">
</iframe>



</body>
</html>
