<!DOCTYPE html>
<html>
  <head>
    <title>News</title>

  </head>

  <body>
    <h1> News </h1>
    <ol class="breadcrumb">
      <li><a href=/>Home</a></li>
      <li class="active">News</li>
    </ol>
    <p> fill later </p>

  </body>

</html>
