<title>Adult</title>

<h1> Becoming an Adult </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li class="active">Becoming an adult</li>
</ol>


<body>

  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-md-4">
        <a href= <%=internships_path%>  class="thumbnail">
          <img src="/assets/internships.png" alt="supported internships"> </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href= <%=employment_path%> class="thumbnail">
          <img src="/assets/employment.png" alt="employment and careers" > </a>
      </div>

      <div class="col-xs-6 col-md-4">
        <a href= <%=transport_path%> class="thumbnail">
          <img src="/assets/transport.png" alt="getting around" > </a>
      </div>

    </div>

  </div>


  </body>
