<h1> Education in Sheffield </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li><a href="<%=education_path%>">Your Education</a></li>
  <li class="active">Education in Sheffield</li>
</ol>

<h2> List of Colleges, secondary schools and 6th form colleges in Sheffield </h2>
  <div>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/138337" class="title" target="_blank">All Saints' Catholic High School</a></h3>
      <dt>Address:</dt>
      <dd>Granville Road, Sheffield, S2 2RJ </dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/139101" class="title" target="_blank">Bradfield School</a></h3>
      <dt>Address:</dt>
      <dd>Kirk Edge Road, Sheffield, S35 0AE</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/140940" class="title" target="_blank">Chapeltown Academy</a></h3>
      <dt>Address:</dt>
      <dd>Hydra Business Park, Sheffield, S35 9ZX</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/140547" class="title" target="_blank">Forge Valley School</a></h3>
      <dt>Address:</dt>
      <dd>Wood Lane, Sheffield, S6 5HG</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy Sponsor Led Mainstream</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/107139" class="title" target="_blank">High Storrs School</a></h3>
      <dt>Address:</dt>
      <dd>High Storrs Road, Sheffield, S11 7LH</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Maintained School</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/138841" class="title" target="_blank">King Ecgbert School</a></h3>
      <dt>Address:</dt>
      <dd>Totley Brook Road, Sheffield, S17 3QU</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy - Converter Mainstream</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/107140" class="title" target="_blank">King Edward VII School</a></h3>
      <dt>Address:</dt>
      <dd>Glossop Road, Sheffield, S10 2PW</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Maintained School</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/133991" class="title" target="_blank">Longley Park Sixth Form College</a></h3>
      <dt>Address:</dt>
      <dd>Horninglow Road, Sheffield, S5 6SG</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>College</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/138545" class="title" target="_blank">Meadowhead School Academy Trust</a></h3>
      <dt>Address:</dt>
      <dd>Dyche Lane, Sheffield, S8 8BR</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/138361" class="title" target="_blank">Notre Dame High School</a></h3>
      <dt>Address:</dt>
      <dd>Fulwood Road, Sheffield, S10 3BT</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/131895" class="title" target="_blank">Sheffield Park Academy</a></h3>
      <dt>Address:</dt>
      <dd>Beaumont Road North, Sheffield, S2 1SN</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy Sponsor Led Mainstream</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/131896" class="title" target="_blank">Sheffield Springs Academy</a></h3>
      <dt>Address:</dt>
      <dd>Hurlfield Road, Sheffield, S12 2SF</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy Sponsor Led Mainstream</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/139167" class="title" target="_blank">Silverdale School</a></h3>
      <dt>Address:</dt>
      <dd>Bents Crescent, Sheffield, S11 9QH</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/138069" class="title" target="_blank">Tapton School</a></h3>
      <dt>Address:</dt>
      <dd>Darwin Lane, Sheffield, S10 5RG</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy - Converter Mainstream</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/138069" class="title" target="_blank">The Sheffield College</a></h3>
      <dt>Address:</dt>
      <dd>Head Office, Sheffield, S2 2RL</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>College</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/139695" class="title" target="_blank">UTC Sheffield</a></h3>
      <dt>Address:</dt>
      <dd>111 Matilda Street, Sheffield, S1 4QF</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
    <dl>
      <h3><a href="https://www.compare-school-performance.service.gov.uk/school/142605" class="title" target="_blank">UTC Sheffield Olympic Legacy Park</a></h3>
      <p>This is a new academy which opened 01/09/2016. </p>
      <dt>Address:</dt>
      <dd>2 Old Hall Road, Sheffield, S9 3TU</dd>
      <dt>Phase of education:</dt>
      <dd>Secondary and 16 to 18</dd>
      <dt>School Type:</dt>
      <dd>Academy</dd>
    </dl>
<p> Here is a <a href="https://www.compare-school-performance.service.gov.uk/"> <strong> link </strong></a>to a database of education providers which allows you to filter by local authority,school type,... <p>
