<h1> Your Education </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li class="active">Education</li>
</ol>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <a href= <%=colleges_path%> class="thumbnail">
        <img src="/assets/colleges.png" alt="Education in Sheffield"> </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=support_path%> class="thumbnail">
        <img src="/assets/support.png" alt="My Support" > </a>
    </div>

  </div>

</div>


</body>
