<!DOCTYPE html>
<head>
  <title> Advice and Information </title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>


<h1> Advice and Information </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li class="active">Advice and Information</li>
</ol>

<body>
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <a href= <%=education_path%> class="thumbnail">
        <img src="/assets/education.png" alt="Your Education"> </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=leisure_path%> class="thumbnail">
        <img src="/assets/leisure.png" alt="Your Leisure" > </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href= <%=adult_path%> class="thumbnail">
          <img src="/assets/adult.png" alt="Becoming an Adult"></a>
    </div>
  </div>

</div>


</body>
