<h1> Supported Internships </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li><a href="<%=adult_path%>">Becoming an Adult</a></li>
  <li class="active">Supported Internships</li>
</ol>
<body>
<p>This page provides information around helping you on supported
internships or traineeships and how you can benefit from access to work for
the work placement element of their programme.</p>

<a class="btn btn-info btn-xlg" alt="What are supported internships?" href= "https://search3.openobjects.com/mediamanager/sheffield/fsd/files/supported_interships_guidance_for_learners_8th_april_2014.pdf" target="_blank"> What are Supported Internships?</a>

<p> If you are interested in internships, talk with someone in your school or college to fill <a href="access_to_work_flow_chart.doc"> <strong> this form </strong></a> for you. <p>

  <a class="btn btn-info btn-xlg" alt="Form to fill if you are interested in internships" href= "access_to_work_flow_chart.doc" target="_blank"> Interested in internships?</a>

</body>
