<h1>My Support</h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li><a href="<%=education_path%>">Your Education</a></li>
  <li class="active">My Support</li>
</ol>
