<h1> Getting Around </h1>
<ol class="breadcrumb">
  <li><a href=/>Home</a></li>
  <li><a href="<%=information_path%>">Advice and Information</a></li>
  <li><a href="<%=adult_path%>">Becoming an Adult</a></li>
  <li class="active">Getting Around</li>
</ol>
<body>
  <div class="container">
    <p> If you want to know more about the support available to you for transportation, watch this video below. </p>
<!-- http://stackoverflow.com/questions/11847604/html5-video-with-ruby-on-rails -->
    <video controls="controls" height="240" width="320"><source src="Learn_as_you_go.mp4" /></video>
  </div>
</body>
