<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
	<h1>Thank you for your feedback!</h1>
	<p>We will work on improving the website to enhance your experience.</p>
</div>
