@import "bootstrap-sprockets";
@import "bootstrap";
@import 'social-share-button';

/* universal */

body {
  padding-top: 60px;
}
p, li {font-size: 18px;}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #3B5998;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.button {
  color: white;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.thumbnail{
   width:250px;
   height:250px;
 }
//  .thumbnails {
//     text-align:center;
// }
//
// .thumbnails  {
//     display: inline-block;
//     *display:inline; /* ie7 fix */
//     float: none; /* this is the part that makes it work */
// }

//https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
 .thumbnail:hover {
    opacity: 0.7;
}

.thumbnails {
    text-align:center;
}
//http://stackoverflow.com/questions/10103692/horizontally-align-thumbnails-in-center
.thumbnails > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}
.education {
  left: 0;
  top: 0;
}
.leisure{left: 500px; top: 0;
}
.adult {
  left: 250px; top: 0

}

iframe {
  float: right;
}

//for borders https://www.w3schools.com/css/css_border.asp
.section-header  {
  border: 2px solid #660099;
  border-radius: 5px;
}

.card {
  font-size: 18px;
}

.careers {
  border: 2px solid green;
  border-radius: 5px;}

.home {
  background-color: #FFF8DC;
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
