.navbar-header a{
  font-size: 24px;
  font-style: italic;
}

.navbar {
  margin-bottom: 30px;
  background-color: #0099CC;
  font-size: 20px;

}


body {
  padding-top: 80px;
}
p {
  font-size: 16px;
}
li {
  font-size: 16px;

}

.container input[type="submit"] {
    height: 30px;
    font-size: 13px;
    background-color: #0aa344;
    border: none;
    color: #fff;
  }

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle, button a {
 color: #fff;
 font-size: 20px
}


//is this for color blind? color: rgba(255,255,255,.8);

.button {
  background-color: #0aa344;

}

//Ariel, 2015 http://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line Accessed 25/4/2017
dl {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
}
dt {
  float: left;
  width: 19%;
  font-size: 16px;
}
dd {
  float: left;
  width: 79%;
  font-size: 18px;

  /* adjust the width; make sure the total of both is 100% */
}
.activity{
  color: #FF634D;
}

.activities > dl {
  background: #FDEDD0;
}
.school > dl {
  background-color: #F1F0FF;}

.sitemap > dl {
  background-color: #FDE8D7;
  }
.sitemap > p {
  color: black;
  }

.title {
  color:#663399;
}

.eventsc> dl {
  background-color: #F5F1DE;
  height: 300px}
