.navbar-header a{
  font-size: 20px;
  font-style: italic;
}

.navbar {
  margin-bottom: 30px;
  background-color: #ff7500;
  font-color: #fff !important;
  font-size: 16px;

}


body { padding-top: 80px; }


.container input[type="submit"] {
    height: 30px;
    font-size: 13px;
    background-color: #0aa344;
    border: none;
    color: #fff;
  }

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle, button a {
 color: #fff;
}

.footer, footer {
//  padding: 10px 0;
  bottom:0px;
  height:auto;
  right:0%;
  left:0%;

}

.footer {
    padding-top: 60px;
    display: block;
    font-size: 16px;
    background: #f2ecde;
    width: 100%;
}
//is this for color blind? color: rgba(255,255,255,.8);

.button {
  background-color: #0aa344;

}
