<head>
  <!-- Bootstrap Core CSS for footer social links-->
  <!-- Theme CSS -->
  <!-- RREFERENCE THE SOCAIL LINKS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link href="assets/bootstrap.min.css" rel="stylesheet">

  <!-- to make it responsive -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>


<!--<div id="push"></div>-->
<div class="footer">

  <div class="wrap">
    <p <i class="fa fa-copyright" aria-hidden="true" aria-label="Copyright"></i> <%=Date.today.year%></p>

    <div class="social-links">
      <a href="https://www.facebook.com/oursheff/" target="_blank" aria-label="Facebook"><i id="social-fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/sheffieldcitycouncil/" target="_blank" aria-label="Instagram"><i id="social-in" class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://twitter.com/SheffCouncil" target="_blank" aria-label="Twitter"><i id="social-tw" class="fa fa-twitter-square" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/user/SheffieldCCouncil" target="_blank" aria-label="Youtube"><i id="social-you"class="fa fa-youtube-square" aria-hidden="true"></i> </a>
    </div>
  </div>

    <p>
      <a href= "http://www.sheffielddirectory.org.uk/kb5/sheffield/directory/results.page?localofferchannel=4" target="_blank">List of Services</a>
    </p>
</div>
