<header>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet"> 
</header>
<footer class="footer navbar-fixed-bottom container-fluid">
  <p class="footer"><i class="fa fa-copyright" aria-hidden="true" aria-label="Copyright"></i> <%=Date.today.year%></p>

  <div class="social-links text-right">
    <a href="https://www.facebook.com/oursheff/" target="_blank" aria-label="Facebook"><i id="social-fb" class="fa fa-facebook-square" aria-hidden="true"></i>
    <a href="https://www.instagram.com/sheffieldcitycouncil/" target="_blank" aria-label="Instagram"><i id="social-in" class="fa fa-instagram" aria-hidden="true"></i>
    <a href="https://twitter.com/SheffCouncil" target="_blank" aria-label="Twitter"><i id="social-tw" class="fa fa-twitter-square" aria-hidden="true"></i>
    <a href="https://www.youtube.com/user/SheffieldCCouncil" target="_blank" aria-label="Youtube"><i id="social-you"class="fa fa-youtube-square" aria-hidden="true"></i>
  </div>

</footer>
